body {
    background: #E9820F;
    text-align: center;
    padding: 0 25px;
    font-family: arial, sans-serif;
}

#main {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    text-align: left;
    background: white;
    padding: 5px 60px 50px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}

header {
    text-align: left;
    width: 500px;
    margin: auto;
}

header h1 {
    color: #0F75E9;
    /*display: inline;*/
    margin-top: 0;
    font-size: 35px;
    margin-bottom: 5px;
    padding: 5px 0;
    text-align: left;
}

header h1 span {
    font-style:italic;
}

.user-name {
    float:left;
}

.select-room {
    float:right;
    margin-top:5px;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

form {
    padding: 20px;
    padding-left: 0;
    margin-bottom: 20px;
}

form input[type=text] {
    margin-right: 10px;
    width: 70%;
    font-size: 12px;
    padding: 5px;
}

.chat {
    padding: 5px;
    margin-bottom: 5px;
    background-color: #eee;
}

.chat .username {
    font-weight: 800;
}

.chat:hover {
    background-color: #ddd;
}

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}

.message_display {
    height: 450px;
    overflow-y: scroll;
}

.chat-as {
    color: #333333;
}

.this-user {
    color: #1994C3;
    font-size: 1.3em;
    font-weight: bold;
}

.message-user {
    color: #1994C3;
    font-size: 1.1em;
}
.message-user:hover {
    cursor: pointer;
}
.message-date {
   color: #333333;
   font-weight: bold;
   font-size: 0.9em;
}
.message-text {
  color: #333333;
  font-size: 0.9em;
}

textarea {
    margin: 20px 0 0 0;
}
.new-room-text {
    color: #333333;
    font-size: 0.9em;
    font-weight: bold;
}
.optional-room {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #eaeaea;
    border-radius: 3px;
}
.bold-user {
    font-weight: bold;
}


